* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.numberCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  background-color: #51defc;
  color: black;
}
